/* --- overall --- */

* {
  font-family: sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(32, 32, 32, 0.8);
  color: rgb(255,255,255);
  border-bottom: 2px solid rgba(128, 128, 128, 0.8);
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 0;
}

window#waybar.empty {
  opacity: 0.6;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px rgb(255,255,255);
}

tooltip {
  background: rgba(48,48,48,0.9);
  color: rgb(255,255,255);
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}


/* --- modules --- */

/* --- modules-left ---*/

#workspaces,
#mode,
#scratchpad,
#window {
  margin: 0 4px;
  color: rgb(255,255,255);
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
}

#workspaces button:hover {
  background: rgba(255,255,255,0.2);
  color: rgb(0,0,0);
}

#workspaces button.focused {
  background-color: rgba(255,255,255,0.4);
  box-shadow: inset 0 -3px rgb(255,255,255);
}

#workspaces button.urgent {
  background-color: rgba(255,128,128,0.4);
}

#mode {
  background-color: rgba(255,255,255,0.2);
  box-shadow: inset 0 -3px rgb(255,255,255);
  padding: 0px 8px;
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}


/* --- modules-center ---*/


/* --- right modules ---*/

#tray,
#idle_inhibitor,
#privacy,
#pulseaudio,
#backlight,
#network,
#cpu,
#memory,
#battery,
#clock {
  padding: 0 8px;
  color: rgb(255,255,255);
}

#tray {
  background-color: rgba(255,255,255,0.05);
}

#tray > *:hover {
  opacity: 0.6;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgba(255,128,128,0.2);
}

#idle_inhibitor {
  background-color: rgba(0,0,0,0.05);
}

#idle_inhibitor:hover {
  background-color: rgba(0,0,0,0.3);
}

#idle_inhibitor.activated {
  background-color: rgba(255,255,255,0.6);
  color: rgb(0,0,0);
}

#pulseaudio {
  background-color: rgba(255,128,255,0.05);
}

#pulseaudio:hover {
  background-color: rgba(255,128,255,0.3);
}

#backlight {
  background-color: rgba(255,255,128,0.05);
}

#backlight:hover {
  background-color: rgba(255,255,128,0.3);
}

#network {
  background-color: rgba(128,128,255,0.05);
}

#network:hover {
  background-color: rgba(128,128,255,0.3);
}

#network.linked {
  background-color: rgba(255,128,128,0.1);
}

#network.linked:hover {
  background-color: rgba(255,128,128,0.3);
}

#network.disconnected {
  background-color: rgba(255,128,128,0.1);
}

#network.disconnected:hover {
  background-color: rgba(255,128,128,0.3);
}

#cpu {
  background-color: rgba(255,128,128,0.05);
}

#cpu:hover {
  background-color: rgba(255,128,128,0.3);
}

#memory {
  background-color: rgba(255,192,128,0.05);
}

#memory:hover {
  background-color: rgba(255,192,128,0.3);
}

#battery {
  background-color: rgba(128,255,128,0.05);
}

#battery:hover {
  background-color: rgba(128,255,128,0.3);
}

@keyframes blink {
  to {
    background-color: rgba(255,255,128,0.5);
  }
}

#battery.critical:not(.charging) {
  background-color: rgba(255,128,128,0.5);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  background-color: rgba(255,255,255,0.05);
}

#clock:hover {
  background-color: rgba(255,255,255,0.3);
}

