/home/.config/nvim/.netrwhist
/home/.config/xfce4/desktop/*.rc
/home/.config/fcitx/cached_layout
/home/.config/fcitx/log/*
/home/.config/fcitx/dbus/*
/home/.config/fcitx/clipboard/*

/tmp/*
!/tmp/.gitkeep

/log/*
!/log/.gitkeep

